:root {
    --navbar-bg-color: #ffffff;
    --navbar-menu-color: #FFFFFF;
    --navbar-link-color: rgba(51, 51, 51, 0.7);
    --navbar-link-hover-color: #333333;
    --navbar-link-active-color: #333333;
  }
  
  body {
    background-color: red; 
    color: #333333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }