@import "../../bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css";

.test-component-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
h3 {
    color: red;
}
p {
    color: steelblue;
}

button {
    padding: 1rem;
    width: 200px;
}
